* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #222;
    color: #eee;
    font-size: 15px;
}

h2 {
    clear: both;
}

a {
    text-decoration: none;
    color: #4C4545;
}

.current {
    font-weight: bold;
}

.row {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

header {
    background: #fff;
    color: #000;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 1em;
}

main {
    display: flex;
    padding: 2em 5%;
}

#content {
    background: #fff;
    color: #222;
}

#content, aside {
    padding: 2rem;
}

aside {
    background: #3D4C42;
}

p:first-child {
    margin-top: 0;
}

p {
    margin-top: 1em;
}

.horror {
    color: darkred;
}

.kryminal {
    color: rgb(0, 235, 252);
}

.thriller {
    color: orange;
}

#best {
     font-size: large;
     margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

.alignleft {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

.alignright {
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
}

.aligncenter {
    text-align: center;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

footer {
    clear: both;
    padding: 5%;
    background: #fff;
    color: #000;
}